{% extends 'layouts/base.html' %}

{% block content %}
  <h1>Juanjo Ruiz - Fotografo</h1>
  <div class="about">
    <img src="https://picsum.photos/300/350">
    <div class="about-content">
      <h3> Lorem ipsum dolor sit amet </h3>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur, maxime ad fugit sit laboriosam error reiciendis reprehenderit consequuntur facilis. Magnam corrupti praesentium alias incidunt sunt repellendus cum consequatur iure error?</p>
    </div>
  </div>
{% endblock %}